.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;

    margin-top: 56px;
    margin-bottom: 56px;
}

.content{
    width: calc(100% - 250px);
    margin-left: 250px;
    
    transition: all 0.3s;
}

.content.active{
    width: 100%;
    margin-left: 0px;
}
.content h1{
    display: flex;
}
.content h1 svg{
    width: 40px;
    height: 50px;
    margin-right: 10px;
}

.row div h4{
    color: #212121;
}

@media (max-width: 768px) {
    .content{
        width: 100%;
        margin-left: 0px;
    }
    .content.active{
        width: calc(100% - 250px);
        margin-left: 250px;
    }
}

/**
 * Navbar Layout
 */

.navbar-group button svg{
    display: flex;
}

/**
 * RHSA Table Layout
 */

#table-rhsa-content tr .critical{
    border-left: 5px solid #f44336;
}
#table-rhsa-content tr .important{
    border-left: 5px solid #ffa000;
}
#table-rhsa-content tr .moderate{
    border-left: 5px solid #ffeb3b;
}
#table-rhsa-content tr .low{
    border-left: 5px solid #03a9f4;
}
#table-rhsa-content tr:hover{
    background-color: #e0e0e0;
    cursor: pointer;
    transition: all 0.3s;
}
#table-rhsa-content .row-select{
    background-color: #e1f5fe;
}
#table-rhsa-content .row-select:hover{
    background-color: #b3e5fc;
}



#toast-common{
    position: fixed;
    top: 70px;
    right: 20px;

    width: 350px;
}