#sidebar {
    position: fixed;

    width: 250px;
    height: 100vh;

    background: #fafafa;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar a{
    display: flex;
    padding-left: 20px;
    width: 100%;
    height: 50px;

    line-height: 50px;
    color: #424242;
    border-bottom: 1px solid #e0e0e0;

    transition: all 0.3s;
}
#sidebar a.select{
    padding-left: 10px;
    background-color: #e0e0e0;
    border-left: 10px solid #aed581;
}
#sidebar a:hover{
    background-color: #e0e0e0;
    text-decoration: none;
}
#sidebar a svg{
    margin-right: 10px;
    width: 25px;
    height: 50px;
}

#sidebar-selected{

}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.navbar-group{
    display: flex;
}